.ExpenseContainer {
    background-color: var(--bg-secondary);
    border-radius: 12px;
    box-shadow: var(--shadow);
    border: var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;;
}

.ExpenseContainer h3 {
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 600;
}

.ExpenseContainer p {
    color: var(--text-secondary);
    font-size: 14px;
}

.ExpenseContainer .CardTitle {
    border-radius: 12px;
    position: relative;
    margin-bottom: 20px;
}

@media (max-width: 480px) {
    .ExpenseContainer {
        padding: 15px;
    }
    
    .ExpenseContainer h3 {
        font-size: 18px;
    }
}


.btnNewCategory {
    background-color: var(--brand--600);
    color: #fff;
    font-size: 16px;
    border-radius: 7px;
    height: 35px;
    border: var(--border);
    cursor: pointer;
    width: 90%;
    margin: 20px auto;
}