header {
    width: 100vw;
    display: flex;
    padding: 0 8vw;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 100px;
}

.menu {
    padding: 20px;
    background: var(--header-bg-color);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(228, 228, 228, 0.2);
    height: 60px;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.menu ul li a{
    color: var(--text-secondary);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.4s;
}

.menu ul li a:hover {
    background-color: var(--active);
    color: var(--active-font);

}

.menu ul li .active {
    background-color: var(--active);
    color: var(--active-font);
}

.logo h1 {
    color: var(--brand-color);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -1px;
}

.logo h1 span {
    font-weight: 600;
    color: var(--brand--500);
}

.logo {
    padding: 10px 25px;
    height: 60px;
    background: var(--header-bg-color);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(228, 228, 228, 0.2);
}

.accountMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    height: 60px;
    background: var(--header-bg-color);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(228, 228, 228, 0.2);
    gap: 20px;
}

.accountMenu button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.accountMenu button svg {
    height: 25px;
    width: 25px;
    color: var(--gray--600);
    transition: color 0.2s;
}

.accountMenu button:hover svg  {
    color: var(--brand--600);
}