.AnalitycSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-2);
    margin-top: var(--space-3);
    width: 100%;
    margin-bottom: var(--space-4);
}

.AnalitycSection > *:last-child {
    grid-column: span 2;
}

@media (max-width: 1024px) {
    .AnalitycSection {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-2);
    }

    .AnalitycSection > *:last-child {
        grid-column: span 2;
    }
}

@media (max-width: 768px) {
    .AnalitycSection {
        grid-template-columns: 1fr;
        gap: var(--space-2);
    }

    .AnalitycSection > *:last-child {
        grid-column: span 1;
    }
}

@media (max-width: 480px) {
    .AnalitycSection {
        gap: 12px;
    }
}
