.AnalitycSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 var(--container-padding);
    gap: 40px;
    margin-top: 40px;
    width: 100%;
    margin-bottom: 100px;
}

.AnalitycSection > *:last-child {
    grid-column: span 2;
}

@media (max-width: 1024px) {
    .AnalitycSection {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .AnalitycSection > *:last-child {
        grid-column: span 2;
    }
}

@media (max-width: 768px) {
    .AnalitycSection {
        grid-template-columns: 1fr;
        gap: 20px;
        width: 93vw;
    }

    .AnalitycSection > *:last-child {
        grid-column: span 1;
        width: 93vw;
    }
}