.theme-toggle {
    background-color: var(--theme-swicher-bg);
    border: var(--border);
    border-radius: 50px;
    width: 50px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2px;
    position: relative;
    transition: background-color 0.3s ease;

}

.theme-toggle.dark {
    background-color: var(--brand--950);
}

.toggle-circle {
    background-color: var(--bg-primary);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.theme-toggle.dark .toggle-circle {
    transform: translateX(24px);
}
